.category-create {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    border-bottom: 2px solid rgba(147, 147, 227, 0.949);
    color: rgba(147, 147, 227, 0.949);
    transition: all 0.3s;
    padding: 0;

    &:hover {
      color: rgba(27, 27, 235, 0.949);
      border-bottom: 2px solid rgba(27, 27, 235, 0.949);
    }
  }
}
